<!-- <p>
  employee-item works!
</p>

  <div class="col-xs-12">
    <p>employee detail-2 image </p>
  
      <div class="col-12">
          <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
              </li>
          </ul>
          <div class="tab-content ml-1" id="myTabContent1">
              <div class="tab-pane fade show active"  id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">  
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Netto Salary</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employeeEl.net }} test1
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Brutto Salary</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.brutto}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Netto yearly Salary:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.yearlynet}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Brutto yearly Salary:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.yearlybrut}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Social cost per month:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.socialcostmonth}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Social cost per year:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.socialcostyear}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Administrative</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.administrative}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Expenses:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.expenses}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Hardware:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.hardware}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Other costs:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.othercosts}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Company cost per year:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.companycostperyear}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Company cost per month:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.companycostpermonth}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Effective cost per hour:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.c1}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Effective cost per day:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.c2}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Effective cost per month:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.c3}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Effective cost per year:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.c4}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Min price per hour:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.p1}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Min price per day:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.p2}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Min price per month:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.p3}}
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-3 col-5">
                          <label style="font-weight:bold;">Min price per year:</label>
                      </div>
                      <div class="col-md-8 col-6">
                          {{ employee.p4}}
                      </div>
                  </div>
                  <hr />


              </div>
              <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                  Facebook, Google, Twitter Account that are connected to this account
              </div>
              <div class="btn-group">
         <button type="button" class="btn btn-primary dropdown-toggle">Manage Employee </button>
         <ul class="dropdown-menu">
           <li><a href="#">Edit Employee</a></li>
           <li><a href="#">Remove Employee</a></li>
         </ul>
        </div>
  </div>
  </div>
  
</div> -->


<a 
(click)="onSelected()"
href="#"

class="clearfix">
<div class="col-12">
        
    
         
            <div  class="card"> <!--*ngFor="let employee of employees"-->
                <a href="#"  (click)="onSelected()">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="#">{{ employeesItem.first_name}} {{ employeesItem.last_name}}</a></h2>
                                <h6 class="d-block"><a href="#">Position</a> {{ employeesItem.position}} </h6>
                                <h6 class="d-block"><a href="#">Role</a> {{ employeesItem.role}}</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    


                </div>
                </a>
            </div>
        </div>
    
    </a>
<!-- 
<a
    (click)="onSelected()"
  href="#"
  class="list-group-item clearfix"
 >
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ employees.first_name }}</h4>
    <p class="list-group-item-text">{{ employees.position }}</p>
  </div>
  
</a> -->


