<!-- <div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
         
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div> -->


<div id="formModal1"  role="dialog">
    <div class="modal-dialog">
     <div class="modal-content" [formGroup]="addingEmployee">
      <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h4 class="modal-title">Add New Record</h4>
           </div>
           <div class="modal-body">
            <span id="form_result1"></span>
            <form method="post" id="sample_form" class="form-horizontal" enctype="multipart/form-data">
            <!-- <div class="form-group">
             <label class="control-label col-md-8" >Position : </label>
             <div class="col-md-8">
             <input type="radio" name="position" value="operative" #positionInput checked> Operative<br>
             <input type="radio" name="position" value="administrative" #positionInput> Administrative<br>
           </div>
           </div>
           <div class="form-group">
             <label> Choose role: </label>
             <select name="role" class="custom-select" style="width:200px;" #roleInput>
                 <option name="role" value="anroid-developer">Anroid developer</option>
                 <option name="role" value="iOS-developer">iOS developer</option>
                 <option name="role" value="java-developer">Java developer</option>
                 <option name="role" value="wordpress-developer">Wordpress developer</option>
                 <option name="role" value="sales">Sales</option>
                 <option name="role" value="graphic-designer">Graphic designer</option>
                 <option name="role" value="tester">Tester</option>
                 <option name="role" value="php-developer">pHp developer</option>
                 <option name="role" value="software-architect">Software architect</option>
                 <option name="role" value="project-manager">Project manager</option>
                 <option name="role" value="system-admin">System admin</option>
                 <option name="role" value="ui-developer">UI developer</option>
                 <option name="role" value="coo-ceo">COO/CEO</option>
                 <option name="role" value="hr">HR/Office manager</option>
                 <option name="role" value="support">Support</option>
                 <option name="role" value="cmb">Communication business partner</option>
                 <option name="role" value="intern">Intern</option>
               </select>
             
           </div> -->
           <div class="form-group">
            <label class="control-label col-md-8"> Choose company: </label>
            <div class="col-md-8">
              <select name="company" #dare class="custom-select control-label" (change)="selected(dare.value)" >
                  <option value="" selected disabled hidden>Choose here</option>
                <option *ngFor="let company of companies"  name="company" value={{company.company_name}}  >{{ company.company_name }}</option>
              </select> 
            </div>
           </div>  


           <div class="form-group">
            <label class="control-label col-md-8" >First Name : </label>
            <div class="col-md-8">
             <input type="text" name="first_name" id="first_name" class="form-control" [formControl]="addingEmployee.controls['first_name']" />
            </div>
           </div>
           <li *ngFor="let hero of heroes" (click)="onSelect(hero)"></li>
             <div class="form-group">
               <label class="control-label col-md-8" >First Name : </label>
               <div class="col-md-8">
                <input type="text" name="first_name" id="first_name" class="form-control" [formControl]="addingEmployee.controls['first_name']" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Last Name : </label>
               <div class="col-md-8">
                <input type="text" name="last_name" id="last_name" class="form-control" [formControl]="addingEmployee.controls['last_name']" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Net Salary: </label>
               <div class="col-md-8">
                <input currencyMask type="number"   name="net" id="net" class="form-control" [formControl]="addingEmployee.controls['net']" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Brutto Salary: </label>
               <div class="col-md-8">
                <input currencyMask type="number"  name="brutto" id="brutto" class="form-control" [formControl]="addingEmployee.controls['brutto']" (change)="calc()" [options]="{ prefix: '$ ', thousands: '.', decimal: ',' }"/>
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Neto yearly Salary: </label>
               <div class="col-md-8">
                <input type="number" name="yearlynet" id="yearlynet" class="form-control" [formControl]="addingEmployee.controls['yearlynet']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Brutto yearly Salary: </label>
               <div class="col-md-8">
                <input type="number" name="yearlybrut" id="yearlybrut" class="form-control" [formControl]="addingEmployee.controls['yearlybrut']" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">socialcostmonth: </label>
               <div class="col-md-8">
                <input type="number" name="socialcostmonth" id="socialcostmonth" class="form-control" [formControl]="addingEmployee.controls['socialcostmonth']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">socialcostyear: </label>
               <div class="col-md-8">
                <input type="number" name="socialcostyear" id="socialcostyear" class="form-control" [formControl]="addingEmployee.controls['socialcostyear']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Administrative: </label>
               <div class="col-md-8">
                <input type="number" name="administrative" id="administrative" class="form-control" [formControl]="addingEmployee.controls['administrative']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Expenses: </label>
               <div class="col-md-8">
                <input type="number" name="expenses" id="expenses" class="form-control"  [formControl]="addingEmployee.controls['expenses']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Hardware: </label>
               <div class="col-md-8">
                <input type="number" name="hardware" id="hardware" class="form-control" [formControl]="addingEmployee.controls['hardware']" (change)="calc2()" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">othercosts: </label>
               <div class="col-md-8">
                <input type="number" name="othercosts" id="othercosts" class="form-control"  [formControl]="addingEmployee.controls['othercosts']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">companycostperyear </label>
               <div class="col-md-8">
                <input type="number" name="companycostperyear" id="companycostperyear" class="form-control" [formControl]="addingEmployee.controls['companycostperyear']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">companycostpermonth </label>
               <div class="col-md-8">
                <input type="number" name="companycostpermonth" id="companycostpermonth" class="form-control"  [formControl]="addingEmployee.controls['companycostpermonth']"  />
               </div>
              </div>
              <!-- <div class="form-group">
               <label class="control-label col-md-8">Select Profile Image : </label>
               <div class="col-md-8">
                <input type="file" name="image" id="image" />
                <span id="store_image"></span>
               </div>
              </div> -->
              <div class="form-group">
               <label class="control-label col-md-8">Effective cost per hour: </label>
               <div class="col-md-8">
                <input type="number" name="c1" id="c1" class="form-control" [formControl]="addingEmployee.controls['c1']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Effective cost per day </label>
               <div class="col-md-8">
                <input type="number" name="c2" id="c2" class="form-control" [formControl]="addingEmployee.controls['c2']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Effective cost per month: </label>
               <div class="col-md-8">
                <input type="number" name="c3" id="c3" class="form-control" [formControl]="addingEmployee.controls['c3']" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Effective cost per year: </label>
               <div class="col-md-8">
                <input type="number" name="c4" id="c4" class="form-control" [formControl]="addingEmployee.controls['c4']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Min price per hour: </label>
               <div class="col-md-8">
                <input type="number" name="p1" id="p1" class="form-control" [formControl]="addingEmployee.controls['p1']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Min price per day: </label>
               <div class="col-md-8">
                <input type="number" name="p2" id="p2" class="form-control" [formControl]="addingEmployee.controls['p2']" />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Min price per month: </label>
               <div class="col-md-8">
                <input type="number" name="p3" id="p3" class="form-control"  [formControl]="addingEmployee.controls['p3']"  />
               </div>
              </div>
              <div class="form-group">
               <label class="control-label col-md-8">Min price per year: </label>
               <div class="col-md-8">
                <input type="number" name="p4" id="p4" class="form-control" [formControl]="addingEmployee.controls['p4']"  />
               </div>
              </div>
              <br />
              <div class="form-group" align="center">
               <input type="hidden" name="action" id="action" />
               <input type="hidden" name="hidden_id" id="hidden_id" />
               <!-- <input type="submit" name="action_button" id="action_button" class="btn btn-warning" value="Add" /> -->
               <button appHighlighting class="btn" type="submit" (click)="addEmployees()">Add</button>
              </div>
            </form>
           </div>
        </div>
       </div>
   </div>





