

<app-employee-edit></app-employee-edit>

<div class="container">
    <div class="row">
        
            <app-employee-item
            class="col-4"
            *ngFor="let employeeEl of employees"
            [employeesItem]="employeeEl"
            (employeeSelected)="onEmployeeSelected(employeeEl)"
           
            
            ></app-employee-item>
        
    </div>
</div>



<div class="container">

  <!-- <div class="col-12">
    <button type="button" class="btn btn-primary">Add new employee</button>
  <hr />
      <div *ngFor="let employee of employees" class="card">
          <a href="#" (click)="onSelected()">
          <div class="card-body">
              <div class="card-title mb-4">
                  <div class="d-flex justify-content-start">
                      <div class="image-container">
                          <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                          <div class="middle">
                              <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                              <input type="file" style="display: none;" id="profilePicture" name="file" />
                          </div>
                      </div>
                      <div class="userData ml-3">
                          <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ employee.first_name}} {{ employee.last_name}}</a></h2>
                          <h6 class="d-block"><a href="javascript:void(0)">Position</a> {{ employee.position}} </h6>
                          <h6 class="d-block"><a href="javascript:void(0)">Role</a> {{ employee.role}}</h6>
                      </div>
                      <div class="ml-auto">
                          <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                      </div>
                  </div>
              </div>

              


          </div>
          </a>
      </div>
  </div>
-->






</div>






